*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    text-align: center;
    margin-top: 30vh;
}

div h1 {
    font-size: 60px;
}

div p {
    font-size: 30px;
}

#press {
    width: 30%;
    font-size: 20px;
    margin-top: 30px;
    padding: 5px;
}
#press2 {
    width: 30%;
    font-size: 20px;
    margin-top: 30px;
    padding: 5px;
}