*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counterApp {
    width: 30vw;
    height: 40vh;
    text-align: center  ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.counterApp h2 {
    padding-top: 60px;
    margin-bottom: 30px;
    font-size: 90px;
    text-shadow: 5px solid rgb(247, 199, 170);
}

#decrementBtn {
    font-size: 20px;
    padding: 7px 15px;
    border-radius: 12px;
    background-color: #20bc7eff;
    color: white;
    font-weight: 800;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

#decrementBtn:hover {
    background-color: rgb(37, 213, 142);
}

#reset {
    font-size: 20px;
    padding: 7px 15px;
    border-radius: 12px;
    background-color: rgb(241, 70, 58);
    color: white;
    font-weight: 800;
    border: none;
    cursor: pointer;
    margin-right: 20px;

} 

#reset:hover {
    background-color: rgb(247, 101, 91);
}

#incrementBtn {
    font-size: 20px;
    padding: 7px 15px;
    border-radius: 12px;
    background-color: #20bc7eff;
    color: white;
    font-weight: 800;
    border: none;
    cursor: pointer; 
}
#incrementBtn:hover {
    background-color: rgb(37, 213, 142);
}
